<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_STORAGE_URL</key>
	<string>https://${SUPABASE_STORAGE_URL}</string>
	<key>SUPABASE_TABLE_URL</key>
	<string>https://${SUPABASE_TABLE_URL}</string>
	<key>SUPABASE_TOKEN_URL</key>
	<string>https://${SUPABASE_TOKEN_URL}</string>
	<key>WEB_APP_URL</key>
	<string>https://${WEB_APP_URL}</string>
</dict>
</plist>
